:root {
    --theme: #121B39;
    --colorletter: white;
    --colorpasive: #6C7594;
    --colorwidget: #FD4F08;
    --vwidth: 150rem;
    --lg: 20px;
    --md: 15px;
    --sm: 13px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.main {
    border: 2px;
}

.sec {
    height: 78rem;
}
.one {
    background-image:
    linear-gradient(rgba(4, 5, 9, 0.5),
    rgba(4, 5, 9, 0.5)),
    url(/pics/EI.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

.container-fond {
    width: 40rem;
    height: 40rem;
    margin-left: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}
.container-fond span {
    font-size: 16px;
}
.container-fond h1 {
    font-size: 70px;
}
.container-fond button {
    color: white;
    width: 50%;
    height: 60px;
    border: 0;
    font-size: 18px;
    border-radius: 5px;
    background-color: var(--colorwidget);
}

.icon-fond {
    display: flex;
    width: 35%;
    justify-content: space-between;
}
.icon-fond li {
    width: 60px;
    height: 60px;
    background-color: #0F3058;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-fond a {
    color: white;
}

.fa-solid {
    font-size: 40px;
}
