:root {
    --theme: #121B39;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

/* bloque header */
.header {
    border: 2px solid black;
    background-color: var(--theme);
    color: white;
}

.box {
    width: 150rem;
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    display: flex;
}

.op-left {
    display: flex;
}

.op-right {
    display: flex;
}

a {
    color: white;
}