:root {
    --theme: #121B39;
    --colorletter: white;
    --colorpasive: #6C7594;
    --colorwidget: #FD4F08;
    --vwidth: 150rem;
    --lg: 20px;
    --md: 15px;
    --sm: 13px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
/* signo de eliminacion "!" */
.header {
    border: 2px solid black;
    background-color: var(--theme);
    height: 16.5rem;
}

.main {
    border: 2px;
}

.sec {
    height: 78rem;
}
.one {
    border: 2px solid green;
}

.card-fondo {
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
}